In [7]:
using FileIO

##### Method 1

In [16]:
save("example.jld2", Dict("hello" => "world", "foo" => :bar))
d = load("example.jld2")

Dict{String,Any} with 2 entries:
  "hello" => "world"
  "foo"   => :bar

In [17]:
d["foo"]

:bar

##### Method 2

In [29]:
save("Ex.jld2", "what", 1, "is", 2)
d = load("Ex.jld2")

Dict{String,Any} with 2 entries:
  "is"   => 2
  "what" => 1

In [30]:
d["what"]

1

### How to save/load a csv file

**Note**: Only possible to transform a 2-dimension array to a dataframe

In [72]:
A = rand(10,3)
using CSV, DataFrames
DF = DataFrame(A, [:c1, :c2, :c3])

10×3 DataFrame
│ Row │ c1        │ c2       │ c3        │
│     │ Float64   │ Float64  │ Float64   │
├─────┼───────────┼──────────┼───────────┤
│ 1   │ 0.377052  │ 0.684778 │ 0.427019  │
│ 2   │ 0.187308  │ 0.330478 │ 0.932678  │
│ 3   │ 0.941674  │ 0.957632 │ 0.622558  │
│ 4   │ 0.996173  │ 0.78084  │ 0.0902756 │
│ 5   │ 0.929127  │ 0.467941 │ 0.712555  │
│ 6   │ 0.0498943 │ 0.326705 │ 0.392116  │
│ 7   │ 0.173548  │ 0.583811 │ 0.728561  │
│ 8   │ 0.782051  │ 0.713339 │ 0.925383  │
│ 9   │ 0.201767  │ 0.194347 │ 0.407101  │
│ 10  │ 0.522504  │ 0.440259 │ 0.586329  │

In [73]:
CSV.write("FileName.csv",  DF, writeheader=true)

"FileName.csv"

In [74]:
CSV.read("FileName.csv")

10×3 DataFrame
│ Row │ c1        │ c2       │ c3        │
│     │ Float64⍰  │ Float64⍰ │ Float64⍰  │
├─────┼───────────┼──────────┼───────────┤
│ 1   │ 0.377052  │ 0.684778 │ 0.427019  │
│ 2   │ 0.187308  │ 0.330478 │ 0.932678  │
│ 3   │ 0.941674  │ 0.957632 │ 0.622558  │
│ 4   │ 0.996173  │ 0.78084  │ 0.0902756 │
│ 5   │ 0.929127  │ 0.467941 │ 0.712555  │
│ 6   │ 0.0498943 │ 0.326705 │ 0.392116  │
│ 7   │ 0.173548  │ 0.583811 │ 0.728561  │
│ 8   │ 0.782051  │ 0.713339 │ 0.925383  │
│ 9   │ 0.201767  │ 0.194347 │ 0.407101  │
│ 10  │ 0.522504  │ 0.440259 │ 0.586329  │

### To save 1-dimensional array, use "reshape"

In [82]:
A = rand(3)
DF = DataFrame(reshape(A,3,1), [:c1])

3×1 DataFrame
│ Row │ c1       │
│     │ Float64  │
├─────┼──────────┤
│ 1   │ 0.2505   │
│ 2   │ 0.569865 │
│ 3   │ 0.620179 │

### Another choice is using the package "DelimitedFiles"

In [84]:
using DelimitedFiles

In [103]:
numbers = collect(1:5)
writedlm("test.txt", numbers)

In [101]:
readdlm("test.txt")

5×1 Array{Float64,2}:
 0.5792943966914246
 0.2682576371535197
 0.40802301257319096
 0.6532667866627315
 0.5307657043110938